<div class="comments">
	{{ date }}<br>
	{{ username }}<br>
	{{ comment }}
	<form id="delcomment" action="?action=deleteComment" method="POST">
		<input type="submit" value="Supprimer commentaire">
	</form>
</div>
