{% extends 'layout.html.twig' %}
{% block content %}
	<h1>Home</h1>
	<form id="logout" action="?action=logout" method="POST">
		<input type="submit" value="Deconnexion">
	</form>

	<form id="add-article" action="?action=article" method="POST">
		<input type="submit" value="Ajouter un article">
	</form>
	<script>
		var url = "web/index.js";
        $.getScript(url);
	</script>
{% endblock %}