{% extends 'public-home.html.twig' %}

{% block content %}
<div id="block-login">
<h4>Connexion</h4>
<hr>
<form action="?action=login" method="POST" id="login">
    <input type="text" id="username" placeholder="Pseudo" class="log-input"><br>
    <input type="password" id="password" placeholder="Mot de passe" class="log-input"><br>
    <input type="submit" value="Connexion" class="log-btn">
</form>
{% if error is defined and error is not empty %}
            <div class="good">{{ error }}</div>
{% endif %}
</div>
{% endblock %}
