{% extends 'public-home.html.twig' %}

{% block content %}
<div id="block-login">
<h4>Connexion</h4>
<hr>
<form action="?action=login" method="POST" id="login">
    <input type="text" id="username" placeholder="Pseudo" class="log-input"><br>
    <input type="password" id="password" placeholder="Mot de passe" class="log-input"><br>
    <input type="submit" value="Connexion">
</form>
<div class="good"></div>
</div>
{% endblock %}
