{% extends 'user-home.html.twig' %}
{% block content %}

<h1>PROFIL</h1>

<h6>Changer pseudo</h6>
<form action="?action=changeUsername" method="POST" id="changeUsername">
	<input type="text" name="username" id="new-username">
	<input type="submit" value="Changer username">
</form>

<div class="good"></div>
{% endblock %}