{% extends 'user-home.html.twig' %}
{% block content %}

<div id="profil-bloc">
<form action="?action=changeUsername" method="POST" id="changeUsername">
	<input type="text" name="username" id="new-username" placeholder="Nouveau pseudo">
	<input type="submit" value="Changer">
</form>
</div>

<div class="good"></div>
{% endblock %}