{% extends 'layout.html.twig' %}
{% block content %}
	<form id="register" action="?action=register" method="POST">
		Login : <input type="text" id="username"><br>
		Email : <input type="text" id="email"><br>
		Password : <input type="password" id="password"><br>
		<input type="submit">
	</form>
	<div class="good"></div>
	

	<script>
		var url = "web/index.js";
        $.getScript(url);
	</script>
{% endblock %}