<article>
	<h3 >{{ title }}</h3>
	<h6>Posté par {{username}} le {{date}}</h6>
	<p>
		{{ description}}<br>
	</p>
</article>
<div id="bloc-comment">
	<button class="btn-comment">commentaires</button>
	<form class="commentaire" action="?action=comment" method="post">
		<input type="hidden" id="article_name" name="article_name" value="BEYONCE"><br>
		<input id="username" name="username" type="text" placeholder="prenom"><br>
		<textarea name="comment" id="comment" cols="20" rows="5"></textarea><br>
		<input type="submit" value="poster">
	</form>
	<div class="good"></div>
	<div class="coms">
	</div>
</div>
<script>
	$(function() {
		$('.btn-comment').click(function() {
			$(".commentaire").css('display', 'block');
			$(".comments").css('display', 'block');
		});
		$('.commentaire').submit(function(e) {
			e.preventDefault();
			var $this = $(this);
			var username = $('#username').val();
	var comment = $('#comment').val();
	var title = $('#article_name').val();
	if(username === '' || comment === '') {
	$('.good').html('Les champs doivent êtres remplis');
	} else {
		$.ajax({
	url: '?action=comment',
	type: 'post',
	data: {
	username: username,
	comment: comment,
	article_name: title
	},
	dataType: 'JSON',
	success: function(response) {
		$('.coms').html(response.username['date'] + '<br>' +
			response.username['username'] + '<br>' +
			response.username['comment']);
	}
	});
	}
		});
	});
</script>