<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Blog</title>
        <link rel="stylesheet" href="web/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script type="text/javascript" src="web/event.js"></script>
        <script type="text/javascript" src="web/script.js"></script>
    </head>
    <body>
        <nav>
            <a href="?action=home"><img src="web/img/logo.png"></div></a>
            <div id="menu-hamburger">
                <span class="line-hamburger"></span>
                <span class="line-hamburger"></span>
                <span class="line-hamburger"></span>
            </div>
        </nav>

        <div class="submenu"  style="width: 270px;">
            <ul>
                <li><a href="?action=article">Ajouter un article</a></li>
                <li><a href="?action=logout">Deconnexion</a></li>
            </ul>
        </div>

        <header id="bloc-profil-title">
            <div id="bloc-header-title">
                <h2 id="header-title">{{ user }}</h2>
                <h3><a href="?action=profil">Editer profil</a></h3>
            </div>
        </header>
        {% block content %}{% endblock %}
    </body>
</html>

