body, html {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	background: grey;
}

article {
	border: 1px solid black;
	margin-bottom: 20px;
	background: white;
}

.commentaire {
	display: none;
}

.comments{
/*	background: red;*/
	display: none;
	border: 3px solid black;
	margin-bottom: 10px;
	background: #D6EAF8;
	width: 300px;
}

.coms {
	border: 3px solid black;
	margin-bottom: 10px;
	background: #D6EAF8;
	width: 300px;
}

#bloc-comment {
	background: white;
	width: 300px;
}